.wrapper {
    position: relative;
}

.helloBlock {
    position: relative;
    background-color: #433D8B;
    border-radius: 15px;
    min-width: 40rem;
    width: 60%;
    margin: auto;
}

.helloText {
    padding-top: 1.3rem;
    padding-left: 1.5rem;
    padding-bottom: 0;
    margin-top: 0;
    font-size: 48px;
}

.helloText2 {
    
    justify-content: center;
    padding-top: -6rem;
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    font-size: 32px;

}

.arrow1 {
    position: absolute;
    top: 20rem;
    left: 30%;
}
